@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.jumbotron {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT_92etL7WwHau7a94417oWmmuNs0kOYXg0Nw&usqp=CAU);
  color: white;
  background-color: white;
  text-align: center;
}

#header {
  font-size: 100px;
}

h1 {
  text-align: center;
  font-family: 'Fjalla One', sans-serif;

}

.card {
  margin: 0;
  left: 37%;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
